.wrapper {
    position: relative;
    padding-top: rem(350px);
    padding-bottom: rem(200px);
    background-image: url(https://images.unsplash.com/photo-1690446142957-124a5800e656?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80);
    background-size: cover;
    background-position: center;

    @media (max-width: $mantine-breakpoint-xs) {
        padding-top: rem(250px);
        padding-bottom: rem(250px);
    }
}

.inner {
    position: relative;
    z-index: 1;
}

.title {
    font-weight: 900;
    font-size: rem(50px);
    letter-spacing: rem(-1px);
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    padding-bottom: var(--mantine-spacing-xl);
    color: var(--mantine-color-white);
    text-align: center;
    font-family: Greycliff CF, var(--mantine-font-family);

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: rem(28px);
        text-align: left;
    }
}

.highlight {
    color: var(--mantine-color-primary-4);
}

.description {
    color: var(--mantine-color-gray-0);
    text-align: center;

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: var(--mantine-font-size-md);
        text-align: left;
    }
}
